<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        <div class="swiper-slide gallery-top"
            style="background-image:url(https://i.pinimg.com/originals/69/12/0f/69120f098bbad51079ed14884673b211.jpg)"></div>
        <div class="swiper-slide"
            style="background-image:url(https://i.pinimg.com/originals/c7/39/31/c739310899c3f9bce4bafbe9acb488bd.jpg)">
        </div>
        <div class="swiper-slide"
            style="background-image:url(https://s1.1zoom.me/big0/959/Canada_Lake_Mountains_452119.jpg)"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
