<footer class="content">
    <div class="lineTopFooter">
        <img src="https://i.imgur.com/o7MtqyN.png" class="logo">
    </div>

    <div class="footer">
        <div class="container">
            <div class="contentLeft">
                <ul class="menu">
                    <li><a href="">MENU</a></li>
                    <ul class="subMenu">
                        <li><a href="">Submenu</a></li>
                        <li><a href="">Submenu</a></li>
                        <li><a href="">Submenu</a></li>
                        <li><a href="">Submenu</a></li>
                    </ul>
                </ul>
            </div>
            <div class="contentCenter">
                <ul class="menu">
                    <li><a href="">MENU</a></li>
                </ul>
                <form>
                    <div class="email">
                        <input type="text" name="Email" id="Email" placeholder="Email"><a href="mailto:someone@example.com">ENVIAR ></a>
                    </div>
                    <div class="info">
                        @Vnda - Tecnologia para ecommerce - CNPJ 00.0000.000/0001-00
                    </div>
                </form>
            </div>
            <div class="contentRight">
                <ul class="menu">
                    <li><a href="">MENU</a></li>
                    <ul class="subMenu">
                        <li><a href=""><i class="fab fa-instagram"></i>Submenu</a></li>
                        <li><a href=""><i class="fab fa-facebook"></i>Submenu</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>