<nav class="desktop">
    <div class="logo">
        <a href="">LOGO</a>
    </div>
    <ul>
        <li><a href="">MENU</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">MENU</a></li>
    </ul>
    <div class="icons">
        <i class="fas fa-search"></i>
        <i class="far fa-user-circle"></i>
        <i class="fas fa-shopping-basket"></i>
    </div>
</nav>

<nav class="mobile">
    <div class="menu">
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="mobileDropdown">
        <ul id="dropdown-content">
            <i class="fas fa-caret-up arrowUp"></i>
            <li><a href="">MENU</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">MENU</a></li>
        </ul>
    </div>
    <div class="icons">
        <i class="fas fa-search"></i>
        <i class="far fa-user-circle"></i>
        <i class="fas fa-shopping-basket"></i>
    </div>
</nav>