<nav class="desktop">
    <div class="logo">
        <a href=""><img src="https://cdn.dribbble.com/users/2592071/screenshots/7327591/media/ddcddda1151bdabce519bfc559a8e250.png" alt=""></a>
    </div>
    <ul>
        <li><a href="">MENU</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">MENU</a></li>
    </ul>
    <div class="icons">
        <a href=""><i class="fas fa-search"></i></a>
        <a href=""><i class="far fa-user-circle"></i></a>
        <a href=""><i class="fas fa-shopping-basket"></i><span></span></a>
    </div>
</nav>

<nav class="mobile">
    <div class="menu">
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="mobileDropdown">
        <ul id="dropdown-content">
            <i class="fas fa-caret-up arrowUp"></i>
            <li><a href="">MENU</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">MENU</a></li>
            <div class="logo">
                <a href=""><img src="https://cdn.dribbble.com/users/2592071/screenshots/7327591/media/ddcddda1151bdabce519bfc559a8e250.png" alt=""></a>
            </div>
        </ul>
    </div>
    <div class="icons">
        <a href=""><i class="fas fa-search"></i></a>
        <a href=""><i class="far fa-user-circle"></i></a>
        <a href=""><i class="fas fa-shopping-basket"></i></a>
    </div>
</nav>